.tasktext {
    width: 425px;
    height: 20px;
    border: 3px solid blue;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.tasktext::placeholder {
    color: lightgray;
}

.taskbutton {
    width: 75px;
    height: 30px;
    border: 3px solid blue;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-left: 15px;
}

.tasklist {
    width: 500px;
    padding: 10px;
    border: 3px solid blue;
    border-radius: 10px;
    background-color: black;
    color: white;
    list-style-position: inside;
    text-align: left;
    list-style: square;
}
